* {
    margin: 0;
    padding: 0;
  }

#first-row *, #second-row *, #third-row *, #forth-row *, #fifth-row *{
  backface-visibility: hidden;
  position: relative;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: rgba(136, 135, 135, 0.803);
  border-radius: 100px;
  border: 0px solid #444;
  border-width: 0px 0px 0px 0px;
  padding: 10px 13px 10px 13px;
  color: #ffffff;
  font-size: 18px;
  font-family: Courier New;
  font-weight: 900;
  font-style: normal;
  margin:2px;
  transition: all .5s ease;

}
#equal{
    width: 115px;
}

#first-row *:hover {
    background: rgba(204, 197, 197, 0.803);
    color: #ffffff;
}
#second-row *:hover {
    background: rgba(204, 197, 197, 0.803);
    color: #ffffff;
}
#third-row *:hover {
    background: rgba(204, 197, 197, 0.803);
    color: #ffffff;
}
#forth-row *:hover {
    background: rgba(204, 197, 197, 0.803);
    color: #ffffff;
}
#fifth-row *:hover {
    background: rgba(204, 197, 197, 0.803);
    color: #ffffff;
}

#display {
    background: rgb(228, 221, 221);
    height: 70px;
    width: 243px;
    font-family: Courier New;
    border-radius: 10px;
    margin: 4px;
    text-align: right;
}

#display-text{
    padding: 15px;
    font-size: 20px;
}
