@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    
  }

#first-row *, #second-row *, #third-row *, #forth-row *, #fifth-row *{
  backface-visibility: hidden;
  position: relative;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: rgba(136, 135, 135, 0.803);
  /* border-radius: 100px; */
  border: 0px solid #444;
  border-width: 0px 0px 0px 0px;
  /* padding: 10px 13px 10px 13px; */
  color: #ffffff;
  font-size: 18px;
  font-family: Courier New;
  font-weight: 900;
  font-style: normal;
  margin:2px;
  transition: all .5s ease;

}
#equal{
    width: 118px;
}

#first-row *:hover {
    background: rgba(204, 197, 197, 0.803);
    color: #ffffff;
}
#second-row *:hover {
    background: rgba(204, 197, 197, 0.803);
    color: #ffffff;
}
#third-row *:hover {
    background: rgba(204, 197, 197, 0.803);
    color: #ffffff;
}
#forth-row *:hover {
    background: rgba(204, 197, 197, 0.803);
    color: #ffffff;
}
#fifth-row *:hover {
    background: rgba(204, 197, 197, 0.803);
    color: #ffffff;
}

#display {
    background: rgb(228, 221, 221);
    height: 70px;
    width: 243px;
    font-family: Courier New;
    border-radius: 10px;
    margin: 4px;
    text-align: right;
}

#display-text{
    padding-top: 10px;
    padding-right: 5px;
    font-size: 20px;
}

#display-text-two{
    padding-top: 10px;
    padding-right: 5px;
    font-size: 20px;
}

#outer{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -130px;
}


#inner-inv{
    background-color:#3B3B3B;
    padding: 5px;
    border-radius: 10px;
}

.header{
    text-align: center;
    margin-top: 30px;
    font-family: 'Kanit', sans-serif;
}

.footer{
    font-family: Courier New;
    color: white;
    background: black;
    text-align: center;
    padding: 3px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footerIcon{
    align-self: center;
}

.footerFlex {
    display: flex;
    justify-content: center;
}
.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.para{
    padding-top: 10px;
}

.bdy{
    background-color: #FCB53D;
}